body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #00698f;
}

#myButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#myButton:hover {
    background-color: #3e8e41;
}
